.th {
	cursor: pointer;
	color: blue;
	border-bottom: 2px solid #ccc;
	padding: 5px 10px;
	text-align: left;
	outline: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.75;
	}

	& + & {
		border-left: 1px solid #ccc;
	}
}
